$container-padding: 10px;
.board {
    color: #000000;
    background-color: #f4f4f4;
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    &_image {
        height: 180px;
        position: relative;
        overflow: hidden;
        margin: $container-padding * -1 $container-padding * -1 16px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    &_content {
        padding: 15px 20px;
    }
    &_name {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 6px;
    }
    &_description {
        font-size: 14px;
        line-height: 19px;
        opacity: 0.4;
        margin-bottom: 20px;
    }
    &_icon {
        width: 30px;
    }
    &_new {
        padding: 30px;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
    }
    &_actions {
        right: 25px;
        position: absolute;
        cursor: pointer;
    }
    &_comment {
        margin-left: 350px;
    }
}

.task-actions {
    right: 20px;
    top: 120px;
    position: absolute;
    cursor: pointer;
}

.comment {
    color: #000000;
    margin: 16px 0;
    display: flex;
    &_icon {
        width: 30px;
    }
    &_description {
        margin-left: 25px;
        padding: 5px;
    }
}